[2014-11-19 20:17] JamesReate opened #1 "Is it possible to do an AND search for multiple params?"
Hi, your libary is awesome, really helped me out!

So, given the following example:
`query = query.Search(x => x.Code,
                     x => x.Name,
                     x => x.Brand)
                     .Containing(stringArray);`
How would I do to get the results filtered by the multiple strings in the `stringArray` ? Currently I see the result is additive. Or is this a feature you're still

[2014-11-25 14:57] #1 closed, assigned to ninjanye

[2015-08-31 20:55] ninjanye opened #2 "Allow matching on whole words only"
Add a search option to `Containing()` and `ContainingAll()` to allow for matching on whole words only

Given `"I like coffee"` is present in a string
When searching for "fee" with `WholeWord` search options selected
Then no data is returned

Given `"I like coffee"` is present in a string
When searching for "coffee" with `WholeWord` search options selected
Then data is returned

[2015-09-07 21:46] ninjanye commented on #2
New feature added to SearchExtensions, version 1.6.

http://jnye.co/Posts/2044/search-extensions-whole-word-matching

[2015-09-07 21:46] #2 closed

[2015-09-18 00:00] bzbetty opened #3 "Possible to do a partial match with a Guid?"
in SQL i can do a "Guid like '%blah%'" style query which I can't figure out how to do with this library.

Integers was a bit of work but the following worked
.Search(p => SqlFunctions.Convert((decimal)p.IntegerProperty))

[2015-09-18 07:47] ninjanye commented on #3
I believe you could do something like...

    var guid = Guid.NewGuid();
    data.Search(p => p.Property1).Containing(guid.ToString())

[2015-09-18 07:56] ninjanye commented on #3
Could you expand on what you were trying to do with the `integer` example?

[2015-09-18 08:14] ninjanye opened #4 "Allow the searching of child collections"
Investigate the possibility of have SearchExtensions return a parent item if a match is found in a child collection.

A possible example might be:

Additionally, support for non strings should be considered:

@bzbetty - does this adequately fulfill what you were lookng for?

[2015-09-18 08:15] bzbetty commented on #4
That sounds perfect.

[2015-09-18 08:16] bzbetty commented on #3
sorry, completely opposite way around.  I have a database field that contains a guid that I want to do a partial search on.

[2015-09-18 08:27] ninjanye commented on #3
Ah, I see. So you want to return all records that contain a partial guid.  Something like.

    string partialGuid = "TE5T"
    data.Search(p => p.GuidProperty).Containing(partialGuid);

Currently the `.Containing` method is only valid for string comparisons but I can certainly look into adding functionality to support `.Containing()` on non string properties

[2015-09-18 08:28] bzbetty commented on #3
Yep that's exactly right.

[2015-10-01 17:41] ninjanye commented on #3
Hi @bzbetty,

I haven't forgotten about this, quite the opposite.  I've been trying all the tricks I can think of to get this to work but it seems that there is a limitation in linq to entities that means this simply isn't possible. :cry:

I'm going to have a couple more goes at it, but the signs so far are that it's just not possible for linq to entities.

[2015-10-06 17:47] ninjanye commented on #3
Sorry to say it, but I'm going to have to admit defeat. This just isn't possible with EF (6 at least).

It looks like EF7 has some additional expression capabilities that could make this possible but this is still currently in development and therefore not currently supported.

Apologies that this wasn't possible. I'll be keeping an eye on EF7 for the upcoming release

[2015-10-06 17:47] #3 closed

[2015-10-06 21:19] bzbetty commented on #3
all good I suspected that might be the case. luckily for me I believe i can convert the column to a string.

[2015-10-21 21:12] ninjanye commented on #4
Hi @bzbetty,

I have just released an update to SearchExtensions which partly addresses this issue.  With version 1.7 you can now search child collections.  The reason this is only partly complete is because it is currently only enabled for `IEnumerable` collections meaning that the filtering is done in memory. `IQueryable` is still to come.

I have created [a blog post explaining how to use the n

[2015-10-28 16:57] AVee opened #5 "Containing search also adds StartsWith and EndsWith to expression"
After upgrading to 1.6 I noticed Containing() adds not just the expression for .Contains() but also for StartsWith() and EndsWith(). This is rather painfull for search performance.
I think the cause is in QueryableContainsExpressionBuilder line 23-27, added in https://github.com/ninjanye/SearchExtensions/commit/1bdfb74cdb88476c60eec4a6514fd959982860c1

[2015-10-31 06:34] bzbetty commented on #4
Awesome! Will try it out as soon as I get the chance.
On 22 Oct 2015 10:12, "John Nye" <notifications@github.com> wrote:

[2015-11-05 00:19] ninjanye commented on #5
Hi @AVee,

Thanks for noticing this.  I have now fixed (ba8a5e4) this in the latest release.

:+1:  for raising an issue.

[2015-11-05 00:19] #5 closed

[2015-11-05 00:21] ninjanye commented on #4
Big news!  I have just made a second release which now supports searching on `IQueryable`.  This means that the filtering is all pushed down to the server meaning you only retrieve the matching records.

Blog post to follow

[2015-11-05 00:21] #4 closed

[2015-11-05 00:22] bzbetty commented on #4
you are too awesome!

On Thu, Nov 5, 2015 at 1:21 PM, John Nye <notifications@github.com> wrote:

[2015-12-06 17:31] sunflowerlab opened #6 "OR with different criteria"
Hi, I have just started using your extension and let me tell you. Its working perfectly. You saved lots of my time. I have unique requirement and see if this can be achieve using your extension.

I want to do OR on same property but with different options like "StartsWith", "EndsWtih" etc.

for Example.

var result = queryableData.Search(x => x.Property1)
                          .StartsWith("abc

[2015-12-17 21:49] bzbetty commented on #4
Is it possible to use a Search and a SearchChildren at the same time?  It
looks like chaining them in C# will perform a AND query instead of an OR
query?

eg

SELECT [Extent1].[Id] AS [Id]
  -- Additional columns --
FROM [dbo].[Shops] AS [Extent1]
WHERE
 [Extent1].Name like '%ball%'
or
EXISTS (
  SELECT 1 AS [C1]
  FROM [dbo].[Products] AS [Extent2]
  WHERE ([Extent1].[Id] = [Extent2].[Shop_Id])

[2015-12-18 07:45] ninjanye commented on #4
Can you post the code you are using to try this? I think it should be possible with the current code base

[2015-12-18 08:05] bzbetty commented on #4
Context.Invoices
    .Search(invoice => invoice.Description).ContainingAll(searchTerms)
    .SearchChildren(invoice => invoice.Client).With(client =>
client.Name).ContainingAll(searchTerms)

also tried

Context.Invoices
    .Search(invoice => invoice.Description)
    .SearchChildren(invoice => invoice.Client).With(client =>
client.Name).ContainingAll(searchTerms)

On Fri, Dec 18, 2015 at 8:45 PM,

[2015-12-18 08:10] ninjanye commented on #4
Hmmm, I would have thought the first option would have done the trick. I'll be on the train to work in a bit so will investigate. I'm pretty sure it should be possible though

[2015-12-18 08:34] bzbetty commented on #4
it works but it requires both the invoice description and client name to
contain all the search terms, I was wanting to be able to do one or the
other.  Unfortunately i suspect that would require large changes.

On Fri, Dec 18, 2015 at 9:10 PM, John Nye <notifications@github.com> wrote:

[2015-12-18 08:53] ninjanye commented on #6
Hi @sunflowerlab

Really sorry it has taken me this long to reply, I completely missed this issue arrive.  I will look into this and see what is possible as currently, as you rightly say, the code sample above will produce and `AND` join.

Speak soon

[2015-12-18 08:59] ninjanye commented on #6
@sunflowerlab, As a workaround, you could implement something like:

    var startsWith = TestModels.Search(p => p.StringOne)
    						   .StartsWith("abc");
    var contains = TestModels.Search(p => p.StringOne)
    				 		 .Containing("xyz");

It does mean performing 2 queries which I know is not ideal, but i might get you over this hump.

I will look at how this could be properly supported in

[2015-12-18 09:07] ninjanye commented on #4
Ah, I see, apologies.  Funnily enough, I have just replied to issue #6 asking for precisely the same thing.

As a workaround, you could potentially run them as 2 separate queries (which I know is not ideal).  What this does mean is that you only have to perform the second query if the first doesn't return any results.  Something like:

    var description = Context.Invoices.Search(invoice => invoi

[2015-12-18 09:10] bzbetty commented on #4
it's not actually a big deal in my case as normally the user knows which
field contains the data anyway so I've put 2 buttons in the UI.   2
searches + a union of some kind would work fairly well too.  Cheers for the
help.

On Fri, Dec 18, 2015 at 10:07 PM, John Nye <notifications@github.com> wrote:

[2015-12-18 09:20] ninjanye commented on #4
No probs, I will look at how we can maybe have an indicator in the searches to allow for an OR search across search types as it would clearly be useful since you and @sunflowerlab have both mentioned it.

[2016-01-07 08:26] smartmeter opened #7 "Searching various tables with composite keys"
Hi. thanks for the lib, I was trying it and saw searches across properties but did not list any help on the entity collections/tables.

I have 4 tables with that contain composite Keys made of a *string** and a **SerialNo**

Since the search **Key**  for e.g.  `AX903200287  or  Uz09238744222344` is long (and no human friendly the user cannot differentiate if it belongs to a Parts Table or Services

[2016-01-22 10:19] ninjanye commented on #7
Hi @smartmeter,

If I understand your problem correctly, you achieve this providing your results have access to the related tables.  For instance

    context.Data.SearchChildren(x => x.RelatedTable).With(y => y.Key).EqualTo("AX903200287");

You can find more details on [this blog post](http://jnye.co/Posts/2046/search-extensions-child-collection-search-support-and-over-3000-downloads) which I hop

[2016-01-22 11:41] #7 closed

[2016-02-10 20:15] maximtarasov opened #8 "EF Include() not working when used after search extensions"
Hello.

If lazy loading disabled and you are using Include to load nav props after using of search extensions - Include simply dont work.

Example code:
query.Search(a => a.Street.Name) .Containing(keywords).Include(a=>a.Street)

[2016-02-12 08:46] ninjanye commented on #8
Thanks for logging this issue @maximtarasov. I'll try and look into this today or tomorrow and let you know my findings

[2016-02-12 09:02] ninjanye commented on #8
Hi @maximtarasov

I suddenly realised that I have come across this issue once before.  The solution/workaround is to reorder your code so that the expression tree builds the `Includes()` before the search. For example

    query.Include(a => a.Street)
         .Search(a => a.Street.Name)
         .Containing(keywords);

Hope this help you get around the issue.  I will look into a potential solutio

[2016-02-25 22:19] #8 closed

[2016-05-28 14:40] siderisltd opened #10 "Searching by empty string throws ArgumentNullException"
Searching by empty string :

            var resultsInTitles = this.repo
                                      .All()
                                      .Search(x => x.Title.ToLower())
                                      .Containing(query.ToLower())
                                      .ToRanked()
                                      .OrderByDescending(r => r.Hits);

If query is "" :
Actual

[2016-06-01 21:47] ninjanye commented on #10
Thanks for reading an issue @siderisltd. I'll fix this up in the next day or so

[2016-06-22 21:47] #10 closed

[2016-08-29 08:29] aalho opened #11 "EF .Include(x => x.Something) not working when using SearchExtensions"
Hi!

Lets say that you have a customers which have 0 to n orders.

You would construct the query using EF something like this:

query = dbContext.Customers.AsQueryable();
.
.
.
query = query.Search(customer => customer.Firstname).ContainingAll(filter.FirstNames);
.
.
.

And then lastly you would add the include for each customer's orders like so:
query = query.Include(customer => customer.Orders);

[2016-08-31 07:12] ninjanye commented on #11
Hi @aalho,

Thanks for getting in touch. As you mention, if you run the `.Include` method before `.Search` then to should get the correct results.

I'll look to see if I can implement a fix to this and let you know.

Cheers

[2016-09-04 21:08] ninjanye commented on #11
Hi @aalho,

I have just released a new version of [SearchExtensions](https://www.nuget.org/packages/NinjaNye.SearchExtensions/) (version: 1.8.6091.39511).  In this release I have added a fix that addresses this issue.

Thanks again for getting in touch and pointing out this bug.  :+1:

[2016-09-04 21:08] #11 closed

[2016-12-01 17:48] gwartnes opened #14 "Can't install package into a project that targets .NET Portable"
I'm getting an error when trying to add this NuGet package to my portable class library.

Are there any plans to include support for targeting other frameworks besides regular .NET?

[2016-12-06 07:58] veezed opened #15 "ignore case for IQueryable"
Some databases, such as Postgre is case sensitive.

You could implement case insensitive queries for IQueryable, by using toLower before applying filter clause.
I implemented it on my own branch on 'contains', I could share it here if you want.

There is small example:
![image](https://cloud.githubusercontent.com/assets/4472342/20917441/3b3d9dce-bb9a-11e6-920c-935f5a156fd3.png)

![image](https://c

[2016-12-21 15:39] twilly86 opened #17 "search on joined data"
I was using predicate builder prior to switching to your library and was doing searches on joined data.
Example..

[code]

Is this possible?

[2017-01-04 17:09] maximtarasov opened #18 "NET Core support"
Hi!

Your project is very useful and it will be great, if you will introduce NET Core support.

[2017-01-17 16:39] ninjanye commented on #18
I completely agree.  This is something I definitely want to do...  Now that the holidays are over, I'll try and get this started

[2017-01-17 16:44] ninjanye commented on #15
This is certainly a good new feature.  Be good to have it as a configurable option though.  e.g.

    context.Search(x => x.String1).CaseInsensitive().Contains("TeSt");

I'll can try and look at this in more detail and get something pushed through.

[2017-01-17 16:50] veezed commented on #15
Yes, I made it in my branch, it just have different name. In my project it's called IgnoreCase()

[2017-01-17 16:59] ninjanye commented on #15
That sounds good.  Have you implemented it for all comparison methods (e.g. `.StartsWith`, `.Contains`, `.EndsWith` etc?) or just the contains method?  If it's all done, feel free to submit a PR.

[2017-01-17 17:01] ninjanye commented on #14
Hi @gwartnes,

Thanks for this and the subsequent PR.  I've had a super busy month or 2 so will try and get round to looking at this in the next few days.

Apologies for the delay

[2017-01-17 17:15] veezed commented on #15
Sorry, just Contains

[2017-01-23 08:36] ninjanye commented on #17
Hi @twilly86, I'm assuming you've tried to complete this using SearchExtensions. Be great if this was supported. I'm currently working on another issue but will try and put some time in to see if there is a quick win here to be had.

[2017-01-23 08:36] ninjanye commented on #17
Hi @twilly86, I'm assuming you've tried to complete this using SearchExtensions. Be great if this was supported. I'm currently working on another issue but will try and put some time in to see if there is a quick win here to be had.

[2017-01-27 15:24] Syl2020 commented on #10
Hi John,
Please reopen this ticket.

If query is string.Empty  Expected -> Return all results.
In version 2.0.6149.33145 a empty string is manage such as a space and return only string containing a space not all results.

Thx,

[2017-01-27 15:31] Syl2020 opened #19 "String.Empty is manage as a space"
Hi John,

In version 2.0.6149.33145 a empty string is manage such as a space and return only string containing a space.

Expected ==> all results.

context.Companies.Search(Company => Company.CIE_NAME.ToUpper())
                                                 .Containing(searchString.ToUpper())
                                                 .Select(Company => new

[2017-01-27 15:51] Syl2020 commented on #19
Sorry,
Error in version. Project updated and it's work.

[2017-01-27 15:51] #19 closed

[2017-02-28 12:44] ninjanye commented on #18
Hi @maximtarasov

I begun to look at the work involved in adding .NET Core support and based on the current .Net Standard API (1.6) a fair amount of the code is unsupported and would need to be re-written.  the good news is that all the code is supported in .NET Standard 2.0 so I think I may wait until that is released before adding this.

Sorry it is going to take longer than i had firts hoped

[2017-03-09 20:25] metamet commented on #18
Anyone know of any alternatives for .NET Core?

I am in the middle of a migration, and trying to iron out all of the incompatibilities here... unfortunately, this is the only one that is in the way at this time.

[2017-03-10 18:58] maximtarasov commented on #18
@ninjanye which components are unsupported on NET Core? Can you list them?

[2017-03-13 13:07] ninjanye commented on #18
@maximtarasov I'll dig out the report.  From memory it was some reflection stuff and some linq bits.  I'll double check.  If the changes aren't to large, I'll update.

Sorry it's taken a while to get this sorted.

[2017-03-20 10:32] ninjanye commented on #18
@maximtarasov @metamet  Good news, I have almost complete the port for .NET Core.  I hope to get a new package out in the next few days.  I'll keep you posted

[2017-04-02 20:33] ninjanye commented on #18
@maximtarasov  @metamet IT took longer than anticipated but I have recently released an new version of Search extensions that is now entirely built on `netstandard1.5`

[2017-04-05 10:31] ninjanye commented on #18
Resolved as part of  https://github.com/ninjanye/SearchExtensions/commit/38dbff1805dfaeb73b4f9704f498dd48c758d9b6

[2017-04-05 10:31] #18 closed

[2017-04-05 10:33] ninjanye commented on #14
Despite closing your PR, this is still a valid issue and something I hope to add as a priority

[2017-07-12 12:14] AbdullahAlimam opened #20 "Could not install package NinjaNye.SearchExtensions 2.1.0 on .NETFramework 4.5"
Hi I got this error When I try to install it from NuGet:

Could not install package 'NinjaNye.SearchExtensions 2.1.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-07-24 07:48] ninjanye commented on #20
This has now been addressed and will be fixed in the next release

[2017-07-25 06:45] ninjanye commented on #20
The fix for this has now been released and pushed to nuget

https://www.nuget.org/packages/NinjaNye.SearchExtensions/

[2017-07-25 06:45] #20 closed

[2017-07-27 08:21] ninjanye commented on #14
Hi @gwartnes

SearchExtensions has now been updated and is now build on .NetStandard 1.0.  Hopefully this allows you to use the package.  Be great to hear if this works as it's not somethign I have tried.  My understanding is that .NETStandard should be used to the portable class libraries.

Hope this helps.
Cheers
John

[2017-09-11 08:33] #14 closed

[2017-12-05 09:14] yunuza opened #22 "Search in every Column of query | .Search() in query | Linq to Entities"
Hi,
I have a problem or maybe just a question.
I've just seen your post on stackoverflow and finally found your library (https://stackoverflow.com/questions/18292618/linq-search-multiple-columns)

My code shortened looks like that:
[code]
Now I want to Search in that query for a String.
I thought it would be just using this:
`query = query.Search().Containing("Searchparam");`
But if I run that cod

[2017-12-19 07:29] jagadeesh1492 opened #23 "Search datetime using string"

[2018-01-05 09:39] ninjanye commented on #22
Hi,

Are you able to provide the error message that you are experiencing?  If you commit the query to memory (`.ToList()`) and then try the search do you get a different result?

Thanks
John

[2018-01-05 09:48] ninjanye commented on #23
Could you expand on what it is you are trying to achieve?

Have you tried, `query.Search(p=>p.date.ToString()).Soundex("10")`

[2018-01-25 19:22] yzorg commented on #23
LINQ does not support null-coalescing operator, so this
is NOT possible: `query.Search(p => p.ClosedDate?.ToString() ?? "");`

which leads to a lot of duplicated code like this:
`query.Search(p => p.ClosedDate == null ? "" : p.ClosedDate.ToString());`

Not asking for the feature, but after reading @ninjanye's blog posts on the topic I haven't seen a single example with NULL DATETIME columns.  So m

[2018-02-05 16:01] ninjanye commented on #23
Hi @yzorg

Thanks for getting in touch, could you link me to the particular article you are referring to and I'll try and see if I can help clear things up

[2018-04-16 23:48] yrmartinez commented on #22
Hi, I'm having a similar problem using `query = query.Search().Containing("Searchparam");`, but in my case I don't get any errors, instead it seams to not been searching at all because it returns all the data. I'm using a previous version of Ninjaye in other project and it works as expected when trying to search in every column including relations. Any suggestion?

[2018-04-20 22:29] LordMike opened #24 "Chaining SearchChildren?"
Hi,

Just discovered this library. I was way down a path of Expression magic when a colleague pointed me here. So far, this is awesome :).

I'm now trying to find all Persons in my DB (EF Core), where a certain relationship has a number of conditions met. My relationship is an EAV model, so the relation stores many records in the form of "Name=Value" pairs.

I tried this.

[code]

Which works. But

[2018-04-24 12:43] ninjanye commented on #24
Hi @LordMike

Thanks for getting in touch.  This should indeed be possible, in the interim, you could `.ToList()` the first part an then perform the second, however this could be heavy on memory if you have a lot of records (which I'm guessing you being EAV)

If you fancy it, I'd be happy to accept a PR that adresses this, otherwise I'll try and look into this, this week.

Thanks again

[2018-04-24 12:47] LordMike commented on #24
I'm unsure where I would start. I could only observe that the last SearchChildren seemed to take precedence.

I've worked around the issue by performing a number of regular `Search`'es on the EAV data, extracting unique ID references, and then searching in my source data as usual but filtering to the list of ID's.. I only have a few thousand records (tens of thousands EAV records), so this works.

[2018-05-04 06:31] Jogai opened #26 "Support for full-text search"
EF doesnt support full text searching. It would be nice if at a certain point this library could make this work...

[2018-06-13 21:45] VictorioBerra opened #27 "How can I pass strings as my search properties?"
IE:

`dbcontext.entity.Search("LastName").Contains("Billybob")`

This is my current code which is not going so well:

[code]

You can probably guess `projectedQuery` is an `IQueryable<T>` where I dont know what `T` is yet.  `dataTableRequest.columns` is an array of simple object eventually ending up with two important properties:

- `dataTableRequest.columns[0].search.value`: The search value
- `d

[2018-06-14 21:57] VictorioBerra commented on #27
## BAD Solution using reflection

[code]

As you probably guessed, `(string)pinfo.GetValue(x)) // OR pinfo.GetValue(x).ToString()` can not be converted to SQL and cause everything to be evaluated locally.

I would love to PR this but my knowledge of reflection and expressions are limited, just getting that to work took me half the day and help from StackOverflow.

[2018-06-18 22:08] VictorioBerra opened #28 "Core 2.1, EF Core 2.1 "could not be translated and will be evaluated locally""
Not sure if this is related to Core specifically, but I get a console full of errors when I try and use this library related to the Lambda passed to `.Search()` not being able to be translated and instead being evaluated locally. No bueno.

If need be I could upload an example.

[2018-07-13 07:19] ninjanye commented on #28
Apologies for not responding sooner. If you could upload an example  that identifies the problem, that'd be great.

[2018-07-13 13:50] VictorioBerra commented on #28
I think this was my fault for building a lambda to try and search against a string instead of a property:

[code]

[2018-07-13 13:50] #28 closed

[2018-07-17 14:29] VictorioBerra commented on #27
## Solution

[code]

I would love to see this added to the library.

[2018-08-31 16:44] ninjanye commented on #27
Hi @VictorioBerra

Thanks for creating (and solving) the issue.  Apologies for not getting back to you sooner.

If you feel confident enough, I'd happily accept a PR for review.  I would offer to do this myself but work/family is real busy at the moment.   Love the feature though

[2018-08-31 17:00] VictorioBerra commented on #27
@ninjanye no worries thanks for replying.

So the above solution is 90% there, the last 10% is recursive property names. est `Customer.Address.City`.

I am bumping up against my knowledge of expression/lambda building. I know these guys https://github.com/StefH/System.Linq.Dynamic.Core have this working somewhere buried in there code [(wiki)](https://github.com/StefH/System.Linq.Dynamic.Core/wiki/

[2018-12-18 16:03] ymolinet commented on #27
up ?

[2018-12-18 16:56] VictorioBerra commented on #27
@ymolinet Currently, the solution I provided is 90% there, This issue is up for grabs for a pull request. Theres a ton of information here that can aid you in solving this problem yourself. You may even be able to use the aforementioned System.Linq.Dynamic.Core to build the property accessor automatically.

@ninjanye Do you have a label for `help-wanted` or `up-for-grabs`?

[2019-01-15 16:52] VictorioBerra opened #29 "Why is everything so protected and internal?"
I am trying to use the library as an expression builder so I can pass the expression's it builds around and make things more re-usable.

As such I really want access to `CompleteExpression` because then I can create a Lambda and store that in a configuration object and apply it whenever i need to.

Ideally, everything in SearchBase should be public. It would be also nice if BuildExpression in Quer

[2019-01-16 22:11] ninjanye commented on #29
Hey @VictorioBerra,

This is an interesting point and one I'm happy to discuss. Originally I coded this defensively as I did not invisage it being used beyond simply using the extension methods it exposes.

The fact you are using this to build expressions is great, but we should consider the change.

[2019-01-16 22:20] VictorioBerra commented on #29
I agree @ninjanye. I really like everything in /Helpers too. Many of those don't really need to be Internal IMO because they are dependency free utilities that anyone could benefit from. I realize that the change I proposed would need some tweaking especially because I would love to trigger the finalExpression to be created without altering the queryable. Maybe we can some up with a new method so

[2019-01-16 22:50] VictorioBerra commented on #29
@ninjanye Imagine this as a super simplified usecase:

[code]

Imagine an API like this:

[code]

It doesnt have to be complicated at first. You already have most of the work done, we just have to expose some of the internals in a nice way.

[2019-01-16 23:11] ninjanye commented on #29
[code]

This captures the need perfectly, thank you. I'm tempted to remove the "Queryable" part from the method name to create a `.BuildPredicate()` or even a `ToPredicate()` method.

Further down the line, maybe this becomes a package of it's own (NinjaNye.PredicateBuilder ???), but for now, I think we can work out a way of exposing it through SearchExtensions

[2019-01-17 00:59] VictorioBerra commented on #29
@ninjanye Thank you this is really going to help me move forward. The names are entirely up to you I just wanted something descriptive that made for a good example.

[2019-01-23 09:20] ninjanye opened #33 "Readme is outdated"
README.md needs to be updated to reflect the current version.

Additionally, the instructions for Soundex and Levensthein functionality should live with their respective projects

[2019-02-28 14:31] Prefsmaster commented on #17
Hi!
What is the status on this issue?
We could really use this!

[2019-02-28 15:17] ninjanye commented on #17
Hi @Prefsmaster

Thanks for giving this a bump. It's been a while since I looked over this issue and it has gone stale as a result, so apologies for that.

Could you clarify what functionality it is you would like to support?

We do have `SearchChildren` functionality which allows you to do something like:

[code]

But I'm guessing this does not meet your needs

[2019-02-28 15:48] Prefsmaster commented on #17
Hey, thanks for the quick response, I will take a look at SearchChildren, but fear it may not get the job done.
Here's some more context:

We have a bunch of tags hanging off an entity, and I want to select all entities where some properties or one of the attached tags contains any of the (array of) substrings.

We had a previous implementation that could search for only one string:
[code]

but no

[2019-02-28 17:28] ninjanye commented on #17
This is by no means a _nice solution_ but could something like this work to get you going?

[code]

[2019-03-01 09:31] Prefsmaster commented on #17
Thanks again!
This works and ALMOST gets the job done.
Can the tagmatch be extended to find the terms only for those tags where another property of the Tag has a specific IdValue?
Reading the documentation it seems to be possible to achieve something like

`p.Tags.Any(t => t.ManagerId == manager.Id && t.Tag.Contains(searchTerms))`

so only the tags added by the provided manager are searched/return

[2019-03-01 16:07] ninjanye commented on #17
If I understand correctly, then maybe something like this...

[code]

[2019-03-01 18:07] Prefsmaster commented on #17
Somehow I made a mistake earlier.
Just tried to implement your latest idea, but that didn't work.
I took out the '.With(x => x.ManagerId).EqualTo(managerId)' part and replaced your 'With(x => x)'  with 'With(x => x.TagText)' to make the code compile.
However the remaining code
[code]
now somehow yields all persons, not only the ones tagged with a tag containing the substring(s).
I am confused now.

[2019-03-06 12:47] #29 closed

[2019-06-17 22:01] #27 closed

[2019-07-03 18:10] VictorioBerra opened #35 "Is there a way to get access to the expression/search stuff without an instance of an IQueryable/IEnumerable?"
Ideally, I need something like this:

[code]

I am trying to build up what is basically a object that holds my search configuration which gets mapped to a request to my API essentially.

I can then save that expression and pass it right to EntityFramework when I am ready.

[2020-01-07 14:01] JakubHolovsky opened #36 "Compatibility with Entity Framework Plus library"
this is more of a feature request. We are using quite widely used library called EntityFramework.Plus https://entityframework-plus.net/

however it seems that if I use query generation by SearchExtensions -> the resulting object query is not compatible with EF.Plus

I wonder if it would be possible to provide a compatible object query -> here is the impacted EF.Plus code.

https://github.com/zzzpr

[2020-02-05 16:42] za8950 opened #37 "IsEqual Method Not Found"
I'm using version 3.0.1 and I am unable to find the IsEqual method. Containing and StartsWith is available...has IsEqual been deprecated?

[2020-03-03 17:18] ninjanye commented on #37
Hi @za8950 ,

Apologies for the delay.  I can confirm that the `isEqual()` methods have not been  deprecated and should be available as before... Are you still having this issue?

[2020-03-05 07:40] irsali opened #38 "In NetCore 3.0 project, ToRanked not working"
Code looks like below:

[code]

It seems to me the query created has some kind of issue:

System.InvalidOperationException: The LINQ expression 'DbSet<TbHotelProperty>
    .Where(t => t.Propname.Contains("omni"))
    .OrderByDescending(t => new Ranked<TbHotelProperty>{
        Hits = (t.Propname ?? "").Length - (t.Propname ?? "").Replace(
            oldValue: "omni",
            newValue: "").Len

[2020-03-11 08:38] kennethhaspeel commented on #37
I can confirm the issue exists. I'm also using version 3.0.1.

`.... .Search(x=>x.id).IsEqual(ids)`

with ids being a string array
results in "QueryableStringSearch ... does not contain a definition for 'IsEqual' ...

I'm using
`.... .Search(x=>x.id).Containing(ids)`

That's working and i'm assuming it gives the same results

[2020-04-01 17:21] gojanpaolo opened #40 "System.InvalidOperationException: The source IQueryable doesn't implement IAsyncEnumerable"
We're getting an `InvalidOperationException` when used with ef core and `ToListAsync`

[code]

e.g.
[code]

Will create a minimal reproducible example later. :)

[2020-04-16 20:56] FWest98 commented on #40
Normal LINQ extension methods return a fresh instance of the `IQueryable` every time, one that is created using the original Provider. This way, the special properties of the `IQueryable` that EF creates are preserved after calling various extension methods.

However, for this library to allow you to use the extra functions `Containing`, etc, only after you called `Search` first, the `Search` will

[2020-06-18 00:28] boop5 opened #42 "How to perform a case insensitive search?"
I want to ignore the case when using `Containg` or `ContainigAll`.  But `SetCulture` is not available. Is the documentation outdated or am I doing something wrong?

Simple example of what I'm doing

[code]

I'm searching on an EfCore `DbSet` which inherits from `IQueryable`

[2020-06-26 20:41] PatryxCShark commented on #15
Hi! Where is a solution because I cannot find it?
I want to have possibility to decide about case sensitive or case insensitive comparison especially when it comes to Containing.
Thanks in advanced

[2020-06-26 20:57] veezed commented on #15
What Db engine do you use?

On Fri, 26 Jun 2020, 23:41 PatryxCShark, <notifications@github.com> wrote:

[2020-06-26 21:03] PatryxCShark commented on #15
MS SQL, but sometimes I have IQueryable which is done in memory. If I know is process on memory side, should I do IQueryable.AsEnumerable() and then use SetCulture?

[2020-07-02 13:22] veezed commented on #15
Ms sql is case insensitive. This change is required only for DB engines who
are case sensitive, for example postgres sql.

On Sat, 27 Jun 2020, 00:03 PatryxCShark, <notifications@github.com> wrote:

[2020-08-21 07:24] ninjanye commented on #42
Hi @boop5

Apologies for the delay in responding to this... What is it you are currently trying, using your example above you should be able to do the following... The important thing is to use `SetCulture` before the containing command

[code]

[2020-10-23 07:40] ninjanye commented on #42
Hi @boop5,

Was just looking back on this and I think I now understand the issue. For `IEnumerable<T>` the `.SetCulture` method is available, however, when used with SQLServer the default is to perform a case insensitive string match, so `SetCulture` is not needed.  This does raise the point, that just because someone is using `IQueryable` does not mean they have SqlServer as their backend store,

[2020-12-26 22:09] jasonhill opened #43 "SearchChildren With EFCore"
I have tried using SearchChildren with EFCore and a query against a SQL database but it doesn't seem to be applying any filters in the generated SQL query.

I saw an old blog post that indicated this might only be available with in-memory queries - is that still the case?

[2021-01-03 05:41] charlondelacruz opened #44 "Searching multiple column with different criteria."
First, of all I would like to thank you for this awesome library. I've been using this library just recently and it works great on my end.

I just want to ask if this kind of search is supported. I tried the chain search but no luck maybe because I'm missing the OR    clause.

`var total = context.Products.Where(x => keywords.All(k => x.Name.Contains(k)) || keywords.Any(k => x.SkuId.Contains(k))).

[2021-01-07 23:46] ninjanye commented on #44
Hi @charlondelacruz

Thanks for getting in touch... unfortunately there is currently no easy way to perform the search above in one line of code in SearchExtensions... the best I think you can do is as follows:

[code]

From here you could merge the two collections, deduplicate based on `SkuId` and grab your count, however it does result in an extra call to the db so would likely lose you some eff

[2021-01-09 23:27] #44 closed

[2021-01-23 18:35] simbrams commented on #43
I'm running into the same problem here, it seems like it has no effect..

[2021-03-16 09:08] iemo2007 commented on #38
I've the same problem

This code in the tutorial
var result = context.Users.Search(x => x.FirstName, x => x.LastName, x.MiddleName)
                          .Containing("John")
                          .ToRanked()
                          .OrderByDescending(r => r.Hits) // Order by Hits property of IRanked<User>
                          .Take(10);

doesn't work and an exception raises with thi

[2021-05-14 21:49] tchadwick opened #45 "Async Streaming Error, Need to implement IDbAsyncEnumerable"
When using this library and attempting a ToListAsync, we get the following error:
System.InvalidOperationException: 'The source IQueryable doesn't implement IDbAsyncEnumerable<System.String>. Only sources that implement IDbAsyncEnumerable can be used for Entity Framework asynchronous operations.
I'm certain this is just an implementation issue where we simply need to wrapper the existing methods i

[2021-06-29 15:40] deimosowen commented on #43
@ninjanye Hi, yes, it doesn't work

` var q = _context.DServicesDocuments
                .Where(w => !documentType.HasValue || w.DServices.SDocumentId == documentType)
                .Select(s => new DocumentsModel
                {
                    Id = s.Id,
                    Name = s.DServices.SDocument.DocumentName,
                    Description = s.Description,
                    Or

[2022-01-31 14:04] wouter-b commented on #42
I'm using CosmosDB as a backend, whcih is Case Sensitive by default. Adding `.SetCulture` to `IQueryable` would solve the case insensitive search for me.

RIght no my workaround is

`            var queryTerms = query.Trim().ToLower().Split(' ');
            return projects.Search(
                p => p.ProjectName.ToLower(),
                p => p.ClientName.ToLower(),
                p => p.Are

[2022-02-11 14:48] wouter-b commented on #6
Any news on this issue?

[2022-03-01 15:13] eLPe21 commented on #6
I came here looking for similar,
        data = data.Search(x => x.StringProperty).Containing(list.Where(x => x.ToIntDef(0) == 0).ToArray());
        data = data.Search(x => x.IntegerProperty).EqualTo(276, 1001);
I would like to OR that !

[2022-05-12 07:55] jrodriguez-masao commented on #42
Hello @ninjanye, I'm using SQLite (case-sensitive by default) as a backend an it would also be really useful to have `.SetCulture` for `IQueryable`. Have you got any timeline on this implementation, or any way we can help make it happen?

[2022-08-24 13:50] animha commented on #45
I have the same strange issues. I use this library in different (but very similar) projects and only in one of them I get this exception.
I always use async methods like ToListAsync in all projects.
Any idea?

[2022-08-31 12:57] jfrank14 opened #46 "How to do sub-queries?"
I need to do a `ContainingAll` query on an object's scalar properties *and* that of a child collection object.

[code]

That `t.Contacts` property is itself a collection that I need to search, but doing it this way throws the exception `System.NotSupportedException: 'LINQ to Entities does not recognize the method 'NinjaNye.SearchExtensions.EnumerableStringSearch'1[Suntex.FirstInMath.Models.Api.Adm

[2022-09-05 07:53] spicamelot opened #47 "Search does not handle some special characters"
Hello,

I am filtering a list of users by using a search pattern and NinjaNye.SearchExtensions 3.0.1.
One of the user has a special character within its name ( the literal Æ )
The search returns all expected results but the user with the special character.

Here is my code :

[code]

[2022-11-08 15:25] KeesAlderliesten opened #48 "Exclude properties"
Hi,
By not specifying properties in Search() all the properties are searched for the search term. I have a List of objects with a lot of properties and searching works fine! But now I want to exclude 2 of them. As far as I can see the only way to achieve this is to specify all the other properties.
Is there a way to specify which properties _not_ to search? Thus, all of them, except...

Kind regar